<section class="py-3 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">المواد المطروحه</h1>
    </div>
  </div>
  <hr />
</section>
<app-card (clickAction)="clickEvent($event)"> </app-card>
<nz-drawer
  #drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="620"
  [nzFooter]="footerTpl"
  nzTitle="Course"
  (nzOnClose)="closeDrawer()"
>
  <div>
    <div *nzDrawerContent>
      <app-view-form *ngIf="view" [rowData]="rowData"></app-view-form>
    </div>
  </div>
</nz-drawer>

<ng-template #footerTpl> </ng-template>
