<div class="button-container">
  <button nz-button nzType="primary" (click)="clickCreateForm()">
    Create Admin
  </button>
</div>

<app-table #table title="Admins List" (clickAction)="clickEvent($event)" [displayColumns]="displayColumns"
  [fetchProvider]="fetchProvider">
  <app-search-filter (filter)="table.refresh()"></app-search-filter>
</app-table>

<nz-drawer #drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzWidth]="620" [nzFooter]="footerTpl" nzTitle="Admin"
  (nzOnClose)="closeDrawer()">
 
  <div>
    <div *nzDrawerContent>
      <app-view-form *ngIf="create"></app-view-form>
      <app-view-form *ngIf="view" [rowData]="rowData" (tabChanged)="tabSwitched($event)"></app-view-form>
    </div>
  </div>
</nz-drawer>

<ng-template #footerTpl>
  <div style="float: right" *ngIf="create">
    <button nz-button style="margin-right: 8px" (click)="closeDrawer()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="submitCreateForm()" [nzLoading]="loading">
      <span nz-icon nzType="save"></span>
      Submit
    </button>
  </div>
  <div style="float: right" *ngIf="view">
    <button nz-button style="margin-right: 8px" (click)="closeDrawer()">
      Cancel
    </button>

    <button nz-button nzType="primary" (click)="submitUpdateForm()" (filter)="table.refresh()" [nzLoading]="loading">
      <span nz-icon nzType="save"></span>
      Save
    </button>

  </div>
</ng-template>