<div class="button-container">
  <button nz-button nzType="primary" (click)="onClick('form')">
    Create Instructor
  </button>
</div>
<app-table
  #table
  title="Instructors List"
  (clickAction)="onClick('view', $event)"
  [displayColumns]="displayColumns"
  [fetchProvider]="fetchProvider"
>
  <app-search-filter (filter)="table.refresh()"></app-search-filter>
</app-table>

<nz-drawer
  #drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzWidth]="620"
  [nzFooter]="footerTpl"
  nzTitle="Create Instructor"
  (nzOnClose)="drawer.close()"
>
  <div *ngIf="[formClick]">
    <div *nzDrawerContent>
      <app-instructor-form></app-instructor-form>
    </div>
  </div>
  <div *ngIf="[viewClick]">
    <div *nzDrawerContent>
      <app-view-form [rowData]="rowData"></app-view-form>
    </div>
  </div>
</nz-drawer>

<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button style="margin-right: 8px" (click)="drawer.close()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submitForm()"
      [nzLoading]="loading"
    >
      <span nz-icon nzType="save"></span>
      Submit
    </button>
  </div>
</ng-template>
