<div class="button-container">
  
  <button class="create-button" nzTheme="outline" (click)="exportInstructors()" style="border-radius: 5px; margin-right: 20px; border:none;">
    <span nz-icon nzType="upload"></span> 
    Export
  </button>
  
  <button class="create-button" nz-button nzType="primary" (click)="clickCreateForm()" style="border-radius: 5px;">
    Create Instructor
  </button>
</div>
<app-table #table (clickAction)="clickEvent($event)" [displayColumns]="displayColumns"
  [fetchProvider]="fetchProvider">
  <span>Instructors List</span>
  <app-search-filter (filter)="table.refresh()"></app-search-filter>
</app-table>

<nz-drawer #drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzWidth]="620" [nzFooter]="footerTpl" nzTitle="Instructor"
  (nzOnClose)="closeDrawer()">
  <div>
    <div *nzDrawerContent>
      <app-instructor-form *ngIf="create"></app-instructor-form>
      <app-view-form *ngIf="view" [rowData]="rowData" (tabChanged)="tabSwitched($event)"></app-view-form>
    </div>
  </div>
</nz-drawer>

<ng-template #footerTpl>
  <div style="float: right" *ngIf="create">
    <button nz-button style="margin-right: 8px" (click)="closeDrawer()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="submitCreateForm()" (filter)="table.refresh()" [nzLoading]="loading">
      <span nz-icon nzType="save"></span>
      Submit
    </button>
  </div>

  <div style="float: right" *ngIf="view">
    <button nz-button style="margin-right: 8px" (click)="closeDrawer()">
      Cancel
    </button>

    <button nz-button nzType="primary" (click)="submitUpdateForm()" (filter)="table.refresh()" [nzLoading]="loading">
      <span nz-icon nzType="save"></span>
      Save
    </button>

  </div>
</ng-template>