<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<div
  style="
    background-image: url(https://i.ibb.co/PwgLyD8/vecteezy-aesthetic-sage-green-background-11589026.jpg);
    height: 120vh;
    background-repeat: inherit;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  "
>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid d-flex flex-row-reverse">
        <img
          src="https://i.ibb.co/fnjsDVy/0-3-removebg-preview.png"
          alt="Bootstrap"
          width="30"
          height="35"
        />
        <a class="navbar-brand" href="#">المركز الثقافي الاسلامي</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="تبديل التنقل"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >{{ data?.firstName }} {{ data?.lastName }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/students/my-courses"
                    >المواد المسجله</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/students/courses"
                    >المواد المطروحه</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/students/profile"
                    >بياناتي</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a
                    class="dropdown-item"
                    (click)="logout()"
                    routerLink="/auth/login"
                    >تسجيل خروج</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <nz-content>
    <div class="inner-content">
      <nz-divider></nz-divider>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
