<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="https://i.ibb.co/fnjsDVy/0-3-removebg-preview.png" alt="logo" height="100" width="100"/>
        <h1>Islamic Culture Center</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="background-color: transparent;">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li *ngFor="let item of dashboardmenuItems" nz-menu-item nzMatchRouter>
            <div [routerLink]="item.path">{{ item.name }}</div>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Users" nzIcon="user">
        <ul>
          <li *ngFor="let item of menuItems" nz-menu-item nzMatchRouter>
            <div [routerLink]="item.path">{{ item.name }}</div>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div>
          <nz-button-group class="button-group">
            <button [routerLink]="[dropDownItems[0].path]" style="border-radius: 50%; margin-right:7px; cursor: pointer;"
              nz-dropdown nzPlacement="bottomRight" nz-button nzType="primary" nzSize='default' nzShape='circle'>
              <!-- <span nz-icon nzType="user"></span> -->
            </button>
            <img src={{data?.imageUrl}} width="32px" height="32px" style="border-radius: 50%; margin-right: 7px;" [routerLink]="[dropDownItems[0].path]">
            <div style="font-family: unset; margin-right: 30px; cursor: pointer;" [routerLink]="[dropDownItems[0].path]">{{data?.firstName}} {{data?.lastName}}</div>
            <button (click)="logout()" style="background-color: transparent; color: black; border-color: transparent; box-shadow: none;"
              nzPlacement="bottomRight" nz-button nzSize='small' nzShape='circle'>
              <span nz-icon nzType="logout"></span>
            </button>
          </nz-button-group>
        </div>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <mat-button [routerLink]="[dropDownItems[0].path]">{{ dropDownItems[0].name }}
              </mat-button>
            </li>
            <li nz-menu-item nzMatchRouter (click)="logout()">logout</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>