<section class="py-3 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">بياناتك الشخصيه</h1>
    </div>
  </div>
</section>

<nz-tabset nzTabPosition="right" [(nzSelectedIndex)]="tabSelected">
  <nz-tab nzTitle="بياناتك">
    <form class="profile-form" [formGroup]="form" nz-form>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <div class="text-end">
            <span>اسمك</span>
          </div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
              <input
                nzSize="large"
                formControlName="firstName"
                nz-input
                style="text-align: center"
              />
              <ng-template #firstNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >This field is required</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <div class="text-end">
            <span>اسم العائله</span>
          </div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="lastNameErrorTpl">
              <input
                nzSize="large"
                formControlName="lastName"
                nz-input
                style="text-align: center"
              />
              <ng-template #lastNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >This field is required</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <div class="text-end">
            <span>البريد الالكتروني</span>
          </div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="emailNameErrorTpl">
              <input
                nzSize="large"
                formControlName="email"
                nz-input
                style="text-align: center"
              />
              <ng-template #emailNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >This field is required</ng-container
                >
                <ng-container *ngIf="control.hasError('email')"
                  >Please Enter a valid email</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <div class="text-end">
            <span>رقم الهاتف</span>
          </div>
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              [nzErrorTip]="phoneNumberNameErrorTpl"
            >
              <input
                nzSize="large"
                formControlName="phoneNumber"
                nz-input
                style="text-align: center"
              />
              <ng-template #phoneNumberNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >This field is required</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <div class="text-end">
            <span>رابط حساب الفيسبوك</span>
          </div>
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              [nzErrorTip]="facebookUrlNameErrorTpl"
            >
              <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
                <input
                  nzSize="large"
                  formControlName="facebookUrl"
                  type="text"
                  nz-input
                />
                <ng-template #facebookUrlNameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >This field is required</ng-container
                  >
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <div class="text-end">
            <span>تاريخ الولادة</span>
          </div>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="dateOfBirthErrorTpl">
              <input
                nzSize="large"
                formControlName="dateOfBirth"
                nz-input
                style="text-align: center"
              />
              <ng-template #dateOfBirthErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >This field is required</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item style="text-align: center">
        <nz-form-control>
          <button
            class="btn btn-success"
            style="width: 25%; margin-bottom: 16px"
            (click)="submitUpdateForm()"
          >
            حدث البيانات
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>

  <nz-tab nzTitle="كلمة السر">
    <form [formGroup]="passwordForm" nz-form>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <div class="text-end">
            <span>كلمة السر القديمة</span>
          </div>
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              [nzErrorTip]="oldPasswordNameErrorTpl"
            >
              <nz-input-group>
                <input
                  nzSize="large"
                  formControlName="oldPassword"
                  type="password"
                  placeholder="اكتب كلمة السر القديمة"
                  style="text-align: center"
                  nz-input
                />
                <ng-template #oldPasswordNameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >This field is required</ng-container
                  >
                  <ng-container
                    *ngIf="
                      control.hasError('minlength') ||
                      control.hasError('pattern')
                    "
                    >Password Should be minimum 8 characters with 1 capital
                    letter</ng-container
                  >
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <div class="text-end">
            <span>كلمة السر الجديدة</span>
          </div>
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              [nzErrorTip]="newPasswordNameErrorTpl"
            >
              <nz-input-group>
                <input
                  nzSize="large"
                  formControlName="newPassword"
                  type="password"
                  placeholder="اكتب كلمة السر الجديدة"
                  style="text-align: center"
                  nz-input
                />
                <ng-template #newPasswordNameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >This field is required</ng-container
                  >
                  <ng-container
                    *ngIf="
                      control.hasError('minlength') ||
                      control.hasError('pattern')
                    "
                    >Password Should be minimum 8 characters with 1 capital
                    letter</ng-container
                  >
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <div class="text-end">
            <span>كرر كلمة السر</span>
          </div>
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              [nzErrorTip]="confirmPasswordNameErrorTpl"
            >
              <nz-input-group>
                <input
                  nzSize="large"
                  formControlName="confirmPassword"
                  type="password"
                  style="text-align: center"
                  placeholder="كرر كلمة السر الجديدة"
                  nz-input
                />
                <ng-template #confirmPasswordNameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >This field is required</ng-container
                  >
                  <ng-container
                    *ngIf="
                      control.hasError('minlength') ||
                      control.hasError('pattern')
                    "
                    >Password Should be minimum 8 characters with 1 capital
                    letter</ng-container
                  >
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <button class="btn btn-success" (click)="submitUpdateForm()">
            غير كلمة السر
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
</nz-tabset>
