<form class="admin-form" [formGroup]="form" nz-form>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
          <input nzSize="large" formControlName="firstName" nz-input placeholder="please enter first name"/>
          <ng-template #firstNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="lastNameErrorTpl">
          <input nzSize="large" formControlName="lastName" nz-input placeholder="please enter last name"/>
          <ng-template #lastNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailNameErrorTpl">
          <input nzSize="large" formControlName="email" nz-input placeholder="please enter Email"/>
          <ng-template #emailNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
            <ng-container *ngIf="control.hasError('email')">Please Enter a valid email</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="phoneNumberNameErrorTpl">
          <input nzSize="large" formControlName="phoneNumber" nz-input placeholder="please enter Phone Number"/>
          <ng-template #phoneNumberNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="facebookUrlNameErrorTpl">
          <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
            <input nzSize="large" formControlName="facebookUrl" type="text" nz-input
                   placeholder="please enter Facebook url"/>
            <ng-template #facebookUrlNameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="ibanNameErrorTpl">
          <input nzSize="large" formControlName="iban" nz-input type="number" placeholder="please enter your IBAN"/>
          <ng-template #ibanNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTpl">
                <textarea
                  nzSize="large" formControlName="address"
                  nz-input
                  placeholder="please enter url description"
                  [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                ></textarea>
          <ng-template #addressErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
