<nz-tabset (nzSelectChange)="tabChange([$event])">
  <nz-tab nzTitle="Details">
    <form class="course-view" [formGroup]="detailsForm" nz-form>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="courseNameErrorTpl" style="margin-right: 20px">
              <span>Course Name</span>
              <input nzSize="large" formControlName="name" nz-input placeholder="Please Enter Course Name" />
              <ng-template #courseNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
            <nz-form-control nzHasFeedback [nzErrorTip]="categoryErrorTpl">
              <span>Category</span>
              <input nzSize="large" formControlName="category" nz-input placeholder="Please Enter Category" />
              <ng-template #categoryErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="addressErrorTpl">
              <span>Description</span>
              <textarea nzSize="large" formControlName="description" nz-input [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                placeholder="Please Enter Description"></textarea>
              <ng-template #addressErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="priceErrorTpl" style="margin-right: 20px">
              <span>Price</span>
              <nz-input-group nzAddOnAfter="JOD">
                <input nzSize="large" formControlName="price" nz-input type="number" placeholder="Please Enter Price" />
                <ng-template #priceErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
            <nz-form-control nzHasFeedback [nzErrorTip]="maxParticipantsErrorTpl">
              <span>Max Participants</span>
              <input nzSize="large" formControlName="maxParticipants" nz-input type="number"
                placeholder="Please Enter Max Participants" />
              <ng-template #maxParticipantsErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="semesterErrorTpl" style="margin-right: 20px">
              <span>Classroom</span>
              <nz-select formControlName="classroom" [nzPlaceHolder]="rowData.classroom" nzSize="large">
                <ng-container *ngFor="let row of classroms">
                  <nz-option [nzValue]="row" [nzLabel]="row" nz-input> </nz-option>
                </ng-container>
              </nz-select>
              <ng-template #semesterErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
            <nz-form-control nzHasFeedback [nzErrorTip]="teamsLinkErrorTpl">
              <span>Teams Link</span>
              <input nzSize="large" formControlName="teamsLink" type="text" nz-input
                placeholder="Please Enter Teams Link" />
              <ng-template #teamsLinkErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>

            <nz-form-control nzHasFeedback [nzErrorTip]="isPreRecordedErrorTpl" style="margin-right: 20px">
              <span>Pre Recorded</span>
              <nz-select formControlName="isPreRecorded" nzPlaceHolder="Pre Recorded">
                <ng-container *ngFor="let b of blean">
                  <nz-option [nzValue]="b" [nzLabel]="b.toString()" nz-input></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #isPreRecordedErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>

            <nz-form-control nzHasFeedback [nzErrorTip]="isOnlineErrorTpl" style="margin-right: 20px">
              <span>Online</span>
              <nz-select formControlName="isOnline" nzPlaceHolder="Online">
                <ng-container *ngFor="let b of blean">
                  <nz-option [nzValue]="b" [nzLabel]="b.toString()" nz-input></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #isOnlineErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>

            <nz-form-control nzHasFeedback [nzErrorTip]="isFreeErrorTpl">
              <span>Free</span>
              <nz-select formControlName="isFree" nzPlaceHolder="Free">
                <ng-container *ngFor="let b of blean">
                  <nz-option [nzValue]="b" [nzLabel]="b.toString()" nz-input></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #isFreeErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="startDateErrorTpl" style="margin-right: 20px">
              <span>Start Date</span>
              <nz-date-picker nzMode="date" formControlName="startDate" nz-input nzSize="large"
                style="border-radius: 8px; width: 177px; height:50px;" nzPlaceHolder="Start Date"></nz-date-picker>
              <ng-template #startDateErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>

            <nz-form-control nzHasFeedback [nzErrorTip]="endDateErrorTpl" style="margin-right: 20px">
              <span>End Date</span>
              <nz-date-picker nzMode="date" formControlName="endDate" nz-input nzSize="large"
                style="border-radius: 8px; width: 177px; height:50px;" nzPlaceHolder="End Date"></nz-date-picker>
              <ng-template #endDateErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>

            <nz-form-control nzHasFeedback [nzErrorTip]="lastRegDayErrorTpl">
              <span>Last Registration Day</span>
              <nz-date-picker formControlName="lastRegDay" nz-input nzSize="large"
                style="border-radius: 8px; width: 177px; height:50px;" nzPlaceHolder="Last Reg Day"></nz-date-picker>
              <ng-template #lastRegDayErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="lectureTimeErrorTpl" style="margin-right: 20px">
              <span>Lecture Time</span>
              <nz-select formControlName="lectureTime" [nzPlaceHolder]="rowData.lectureTime">
                <ng-container *ngFor="let time of times">
                  <nz-option [nzValue]="time" [nzLabel]="time" nz-input></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #lectureTimeErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>

            <nz-form-control nzHasFeedback [nzErrorTip]="semesterErrorTpl" style="margin-right: 20px">
              <span>Semester</span>
              <nz-select formControlName="semester" nzPlaceHolder="Semester">
                <ng-container *ngFor="let s of smstr">
                  <nz-option [nzValue]="s" [nzLabel]="s" nz-input></nz-option>
                </ng-container>
              </nz-select>
              <ng-template #semesterErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>

            <nz-form-control nzHasFeedback [nzErrorTip]="lastRegDayErrorTpl">
              <span>Year</span>
              <nz-date-picker nzMode="year" formControlName="year" nz-input nzSize="large"
                style="border-radius: 8px; width: 177px; height:50px;" nzPlaceHolder="Year"></nz-date-picker>
              <ng-template #lastRegDayErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="daysOfWeekErrorTpl">
              <span>Days of Week</span>
              <nz-select [(ngModel)]="days" formControlName="daysOfWeek" nzMode="multiple" nzPlaceHolder="Days Of Week">
                <nz-option *ngFor="let day of allDays" [nzLabel]="day" [nzValue]="day"></nz-option>
              </nz-select>
              <ng-template #daysOfWeekErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">This field is required</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-tab>

  <nz-tab nzTitle="Instructors">
    <nz-table #basicTable [nzData]="instructorsData" class="table-header" [nzShowPagination]="true"
      [nzLoading]="loading"[nzScroll]="{  y: '240px' }">

      <thead>
        <tr>
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">First Name</th>
          <th style="text-align: center;">Last Name</th>
          <th style="text-align: center;">Sub Number</th>
          <th style="text-align: center;">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td style="text-align: center;">{{ data.id }}</td>
          <td style="text-align: center;">{{ data.firstName }}</td>
          <td style="text-align: center;">{{ data.lastName }}</td>
          <td style="text-align: center;">{{ data.subNumber }}</td>
          <td style="text-align: center;">
            <button style="background: transparent; border: none; color: blue;" nz-icon nzType="plus-square"
             (click)="addInstructorToCourse(data.id)" nzMode="inline"></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>

  <nz-tab nzTitle="Students">
    <nz-table #basicTable1 [nzData]="studentsData" class="student-table-header" [nzShowPagination]="true"
      [nzLoading]="loading" [nzScroll]="{  y: '240px' }">

      <thead>
        <tr>
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">First Name</th>
          <th style="text-align: center;">Email</th>
          <th style="text-align: center;">Action</th>
        </tr>
      </thead>

      <!-- addStudentToCourse(data1.id) -->
      <tbody>
        <ng-container *ngFor="let data1 of basicTable1.data">
          <tr>
            <td style="text-align: center;">{{ data1.id }}</td>
            <td style="text-align: center;">{{ data1.lastName }}</td>
            <td style="text-align: center;">{{ data1.email }}</td>
            <td style="text-align: center;">
              <button style="background: transparent;  border: none; color: blue;" nz-icon nzType="plus-square"
                nzTheme="outline" (click)="showModal(data1.id)" nzMode="inline"></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Please Choose Instructor" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk($event)">
      <ng-container *nzModalContent>
        <nz-select style="width: 100%;" nzPlaceHolder="Instructors"  [(ngModel)]="selectedInstructorValue">
          <ng-container *ngFor="let data of courseInstructors">
            <nz-option [nzValue]="data.id" [nzLabel]="data.firstName +' ' + data.lastName"></nz-option>
          </ng-container>
        </nz-select>
      </ng-container>
  </nz-modal>
</nz-tabset>